/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common designs */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
     
} 
main{
    position: relative;
    margin: 0px; 
}
/* hr{
    border: 1px solid #D1D1D1;
} */
/*....................... banner section design........................ */

.banner{
    display: inline-flex;
    justify-content: center;
    row-gap:60px;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 27, 117);
    margin: 0px;

}

.banner-title{
    margin: 50px;
    height:230px;
    width:485px;
}

.banner-title button{
    margin-top: 25px;
    padding: 10px 24px;
    font-size: 19px;
}

.fa-arrow-alt-circle-right{
    height: 24px;
    width: 30px;
    margin-left: 5px;
}

.title{
    font-size: 64px;
    line-height: 80px;
    margin: 0;
    color: white;
}

/* .........banner-image ............*/
.banner-image{
    width:556px;
    height: 438px;
    margin-right: 20px;
}

.banner-image img{
    height: 100%;
    width: 100%;
    transition: transform 3s ease-out 0.5s;
}

.banner-image:hover img{
    transform: scale(0);
}

.banner-image:hover{
    background-image: url("images/messy-cup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}


/* ...................................................... */
/* players profile design */
.players-profile{
    width:100%;
    /* background-color: cadetblue; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.players{
    margin-top: 70px;;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.player{
    /* border: 1px solid lightblue; */
    width: 330px;
    height: 470px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0px 0px 10px; */
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  

}

.player-photo{
    width: 300px;
    height: 256px;
    margin: 0 px;
    margin-bottom: 16px;
}

.player-photo img{
    width: 100%;
    height: 100%;
}

.name{
    font-size: 28px;
   padding-left: 15px;
   margin: 0px;
}
.description{
    font-size: 16px;
    color: #6C6C6C;
    padding: 15px;
    margin: 0px;
}
/* ............................................................................................. */
/* extra section :fan section */
.fan-section{
    width: 100%;
    background-color: cadetblue;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 100px;

}

.fan-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-top:20px;
    padding-bottom: 20px;
} 

.fan-title{
font-size: 25px;
background-image: linear-gradient(white,cadetblue);
width:100%;
text-align: center;
}

.fan-vote{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);

}

.fan-video{
    padding: 15px;
    border: 1px solid #969BAB;
}





/*..................................... Footer design ...............................*/
footer{
    display: flex;
    justify-content: center;
}
.footer-box{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 485px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-logo{
    width: 450px;
    height: 110px;
   /* padding-left: 30px; */
}
.footer-logo img{
    height: 100%;
    width: 100%;
}

.footer-icon{
    width: 170px;
    height: 32px;
}
.icons{
    margin: 20px;
    display:flex;
    justify-content: center;
}

.icons .fab{
    width: 32px;
    height: 32px;
    color: #969BAB;
    font-size: 28px;
    border-radius: 50%;
    margin: 0px 14px;
}

.copyright{
    margin-top: 20px;
}

.copyright p{
    font-size: 18px;
}
/* .................................................................................. ..........*/
/*.......................... media query starts here ...........................................*/
/* ............................................................................................ */


@media only screen and (max-width:688px) {

    /*.................. banner design section.............. */

    /* ....banner title.... */
   .banner{
       display: flex;
       flex-direction: column;
       width: 100%;
     }

   .banner-title{
    margin: 50px;
    width:278px;
    height:133px;  
    }

    .title{
        font-size: 36px;
        line-height: 50px;
        margin: 0;
        color: white;
    }

    /* .........banner-image ............*/
    .banner-image{
        width:329px;
        height: 260px;
        margin-top: 50px;
        margin-right: 0px;
    }

    /*................................. players profiles ......................*/

    .players{
        grid-template-columns: repeat(1,1fr);
        padding: 24px 15px;
    }

    .player{
        padding: 15px;
    }

    /* ............fan section ...................*/

    /* .fan-section{
        width: 100%;
        background-color: cadetblue;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;

    } */


    /* .........................footer section............................... */

    .footer-box{
        margin-top: 50px;
        width: 280px;
        height: 175px;
    }

    .footer-logo{
        width: 275px;
        height: 60px;
        padding-bottom: 30px;;
    }
}


