/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common designs */

body{
    font-family: 'Poppins', sans-serif;
     
} 
main{
    position: relative;
    margin: 0px; 
}
hr{
    border: 1px solid #D1D1D1;
}
/*....................... banner section design........................ */

.banner{
    display: inline-flex;
    justify-content: center;
    row-gap:60px;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 27, 117);
    margin: 0px;

}

.banner-title{
    margin: 50px;
    height:230px;
    width:485px;
}

.banner-title button{
    margin-top: 25px;
    padding: 10px 24px;
    font-size: 19px;
}

.fa-arrow-alt-circle-right{
    height: 24px;
    width: 30px;
    margin-left: 5px;
}

.title{
    font-size: 64px;
    line-height: 80px;
    margin: 0;
    color: white;
}

/* .........banner-image ............*/
.banner-image{
    height: 438px;
    width:556px;
    margin-right: 20px;
}

.banner-image img{
    height: 100%;
    width: 100%;
    transition: transform 3s ease-in-out 0.5s;
}

.banner-image:hover img{
    transform: scale(0.5);
}

.banner-image:hover{
    background-image: url("images/joy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* ...................................................... */
/* players profile design */
.players-profile{
    width:100%;
    /* background-color: cadetblue; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.players{
    margin-top: 70px;;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.player{
    /* border: 1px solid lightblue; */
    width: 330px;
    height: 470px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px;
    background-color: rgba(255, 255, 255, 0.945);
  

}

.player-photo{
    width: 300px;
    height: 256px;
    margin: 0 px;
    margin-bottom: 16px;
}

.player-photo img{
    width: 100%;
    height: 100%;
}

.photo-detailes{
    /* left: calc(50% - 300px/2); */
}
.name{
    font-size: 28px;
   padding-left: 15px;
   margin: 0px;
}
.description{
    font-size: 16px;
    color: #6C6C6C;
    padding: 15px;
    margin: 0px;
}

/*................ Footer design ....................*/
footer{
    display: flex;
    justify-content: center;
}
.footer-box{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 485px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-logo{
    width: 450px;
    height: 110px;
   /* padding-left: 30px; */
}
.footer-logo img{
    height: 100%;
    width: 100%;
}

.footer-icon{
    width: 170px;
    height: 32px;
}
.icons{
    margin: 20px;
    display:flex;
    justify-content: center;
}

.icons .fab{
    width: 32px;
    height: 32px;
    color: #969BAB;
    font-size: 28px;
    border-radius: 50%;
    margin: 0px 14px;
}

.copyright{
    margin-top: 20px;
}

.copyright p{
    font-size: 18px;
}
/* ........................................................... ..........*/
/* media query starts here */
/* .................................................................... */



